<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%replace{%X{req} %X{uri} %X{ip} }{\s\s\s}{}%d %-5level %pid [%t]  %C{1.}} : %msg%n%throwable" />
        </Console>

        <RollingFile name="RollingFile"
                     fileName="./logs/spring-boot-logger-log4j2.log"
                     filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%replace{%X{req} %X{uri} %X{ip} }{\s\s\s}{}%d{ISO8601} %level %C{1.} [%t]: %m%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="ErrorLog"
                     fileName="./logs/error.log"
                     filePattern="./logs/$${date:yyyy-MM}/error-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%replace{%X{req} %X{uri} %X{ip} }{\s\s\s}{}%d{ISO8601} %level %C{1.} [%t]: %m%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
<!--        <Logger name="com.eshop.controllers.ErrorHandlingControllerAdvice" level="INFO" additivity="false">-->
<!--            <AppenderRef ref="ErrorLog"/>-->
<!--        </Logger>-->
    </Loggers>

</Configuration>